html {
  height: 100%;
}
body {
  background: lightgray;
  height: 100%;
}

nav {
  background-color:  #232f3e !important;
  position: relative;
  top: 0;
  width: 100%;
  height: 8%;
}

nav span {
  position: relative;
  margin-top: 0;
  height: 100%;
  color: white;
}
nav a {
  position: relative;
  color: white;
  float: right;
}

nav a:hover {
  font-weight: bold;
}

hr {
  color: lightgray;
  border-width: 6px;
  margin-top: 0;
}

.page-header {
  padding-top: 20px;
  padding-bottom: 5px;
  color: #232f3e;
}

.main {
  margin-top: 5%;
  background: white;
}
.main img {
  float: left;
  margin-right: 15px;
}

.preFooter {
  border: 1px solid gray;
  position: fixed;
  background: gray;
  width: 100%;
  height: 10px;
  left: 0;
  bottom: 40px;
}

footer {
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #232f3e;;
  text-align: center;
}
