.port-imgs {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.image-text {
  position: absolute;
  text-align: center;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20%;
  width: 91%;
  color: white;
  font-size: 24px;
  background: #4aaaa5;
}
